.App{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#e9bea1, #ff5d5d);
}

.app-header{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.chess-board{
  margin: 0;
  padding: 0;
  background-color: white;
  width: 80vh;
  height: 80vh;
  box-shadow: 10px 20px 20px black;
}

.chess-board_square{
  border: 1px solid black;
  width: 9vh;
  height: 9vh;
  z-index: 0;
  text-align: center;
}

.chess-board_piece{
  width: 100%;
  height: 100%;
}

.chess-board_squares{
  border: 3px solid black;
  width: 100%;
  height: 100%;
}

h1 {
  color: brown;
  margin-right: 1em;
  font-family: 'Cardo', serif;
  font-size: 3em;
  font-weight: normal;
  font-style: italic;
  letter-spacing: 0.1em;
}

tr:nth-child(odd) .chess-board_square:nth-child(even){
  background: radial-gradient(#e67e64, #9c1f00);
}

tr:nth-child(even) .chess-board_square:nth-child(odd){
  background: radial-gradient(#e67e64, #9c1f00);
}
